.about {
  background-color: var(--light-accent);
}

.container {
  padding: 1rem;
  max-width: 1150px;
  margin: 0 auto;
  font-size: 1.25rem;
  padding-bottom: 7rem;
}

.aboutTitle {
  font-size: 1.563rem;
  & span {
    color: var(--accent);
    font-weight: 500;
  }
}

.aboutText {
  font-size: 1rem;
}

.aboutContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 3rem;
  align-items: center;
}

.social {
  margin-top: 48px;
}

.socialItem {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 1rem 0;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px transparent solid;
  transition: all .5s ease-in;
  & * {
    margin: 0;
  }
}

.socialItem:hover {
  border-bottom: 2px solid var(--accent);
}

.socialIcon {
  width: 24px;
  height: 24px;
}

@media (max-width: 1150px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 940px) {
  .container {
    max-width: 695px;
  }
  .aboutContent {
    grid-template-columns: 1fr 200px;
  }
}

@media (max-width: 640px) {
  .aboutContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .social {
    align-self: flex-start;
    margin-top: 0;
  }
}
